.DS_Store
**/.idea/
*.iml

backend/.gradle/
backend/.kotlin/
backend/**/build/
backend/**/.gradle
backend/**/.kotlin

mobile/.gradle/
mobile/.kotlin/
mobile/**/build/
!mobile/**/src/**/build/
mobile/local.properties
mobile/captures/
mobile/.externalNativeBuild/
mobile/.cxx/
mobile/**/xcuserdata/
mobile/**/xcshareddata/WorkspaceSettings.xcsettings

docs/